/* content */

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FrontEnd{
    background-color: black;
}

.Database{
    background-color: black;
}

/* labels */

.labels{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.skills-label h3{
    font-size: clamp(25px, 5vw + 1px, 40px);
}

/* display */

.display{
    width: 100%;
}

/* skills-main */

.skills-main{
    width: 100%;
    margin: 0 auto;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill{
    width: 24%; 
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill img{
    max-width: 40%;
    border-radius: 10%;
}

.skill p{
    font-size: clamp(8.5px, 1vw,20px);
    padding: 2% 0%;
}