.project-component{
    background-color: black;
}

.projects-main{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-main h3{
    font-size: clamp(25px, 5vw + 1px, 40px);
}

.projects{
    padding: 4%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 3%;
    row-gap: 35px;
}

.project-card{
    background-color: #242424;
    padding: 3%;
    border-radius: 25px;
}

.project-details{
    margin: 4% 0%;
    padding: 0 8%;
}

.project-title{
    padding: 2% 0;
    margin: 6% 0;
    text-align: center;
    /* font-size: 28px; */
    /* font-size: 18px; */
    font-size: clamp(20px, 5vw + 1px, 28px);
}

.project-description{
    /* background-color: purple; */
    display: flex;
    align-items: center;
    height: 150px;
}

.github-livesite-buttons{
    display: flex;
    justify-content: center;
    margin: 10% auto;
}

.github-livesite-buttons button{
    border-style: none;
    border-radius: clamp(8px, 2vw + 1px, 5px);
    font-size: clamp(10px, 2vw + 1px, 15p);
    font-weight: 600;
    background-color: black;
    color: whitesmoke;
    margin: 0 4%;
    width: 28%;
    padding:4% 2.4%;
}

.github-livesite-buttons a{
    
}